
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #create_task{
  font-family: 'Open Sans', sans-serif;
}

#create_task{
  color: #fafafa;
  line-height: 160%;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.8125rem 6.3125rem;
  background-color: #714dd9;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}